{% extends 'kindbackend/index.html' %}

{% block right-content-contarner %}
    <ol class="breadcrumb">
              <li><a href="/kindadmin/">Home</a></li>
            </ol>
    {% for app_name,model_table in enable_app.items %}

           <table class="table table-striped">
          <thead>
            <tr>
              <th><a href="{% url 'app_obj_list' app_name %}">{{ app_name }}</a></th>
            </tr>
          </thead>
          <tbody>
            {% for model_name in model_table %}
            <tr>
              <th scope="row" class="col-lg-8"><a href="{% url 'model_obj_list' app_name model_name %}">{{ model_name }}</a></th>
              <td class="col-lg-2"><a href="{% url 'add_model' app_name model_name %}"><span class="glyphicon glyphicon-plus"></span></a></td>
              <td class="col-lg-2"><a href="{% url 'model_obj_list' app_name model_name  %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
             {% endfor %}
          </tbody>
        </table>
    {% endfor %}
{% endblock %}